body {
  background: #f8f6ff;
  font-family: "Roboto",sans-Flex;
  margin: 0;
  padding: 0;

}

form {
  max-width: 700px;
  width: 80%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  padding: 15px 20px;
}

#result{
  margin-top: 20px;
  font-size: 20px;

}
#weather-sample {
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}

header {
  padding: 40px;
  text-align: center;
  font-size: 30px;
}

.card {
  background: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.05);
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  padding: 12px 20px;
  background: #885df1;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  font-size: 46px;
}

.main-weather {
display: flex;
justify-content: flex-end;   
align-items: right;                          
font-size: 36px;  
flex-direction: row-reverse;     
}

.temperature {
  font-size: 60px;
  font-weight: bold;
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.day {
  text-align: center;
  font-size: 14px;
}

.temperature-1 {
   color:rgb(170, 63, 63);
}

footer {
  text-align: center;
  margin-top: 0px;
  padding: 20px;
  font-size: 13px;
  color: #777;

}
.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: left;
  font-family: Arial, sans-serif;
  background: white;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(24, 24, 27, 0.08);
  border-radius: 16px;
  padding: 30px;
  justify-content: space-between;
  color: #353333;
  
}


#city-and-time {
  font-size: 24px;
  margin-bottom: 20px;
}

#city-input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}
#weather-icon {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

span {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  flex-direction: row-reverse; /* آیکون سمت راست */
}